name: CI - Test
on:
  push:
  pull_request:
    branches: [main]
jobs:
  # First Job: Lint and Test on Backend
  backend-ci:
    runs-on: ubuntu-latest

    env:
      # ---- DEVELOPING AND TESTING SETTINGS ----
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

      # Django Config
      DEBUG: ${{ secrets.DEBUG }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

      # Email (SendGrid)
      SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
      DEFAULT_FROM_EMAIL: ${{ secrets.DEFAULT_FROM_EMAIL }}

      # Celery Configuration
      CELERY_BROKER_URL: ${{ secrets.CELERY_BROKER_URL }}
      CELERY_RESULT_BACKEND: ${{ secrets.CELERY_RESULT_BACKEND }}

      # BaseURL
      BASE_URL: ${{ secrets.BASE_URL }}

      # AWS S3 Configuration
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}

      # --- Payment Gateway (Asaas) ---
      ASAAS_API_KEY: ${{ secrets.ASAAS_API_KEY }}
      ASAAS_API_URL: ${{ secrets.ASAAS_API_URL }}
      ASAAS_WEBHOOK_TOKEN: ${{ secrets.ASAAS_WEBHOOK_TOKEN }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
    
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      
      - name: Install Dependencies
        run: |
          pip install -r --no-cache-dir backend/requirements.txt
          pip install -r --no-cache-dir backend/dev-requirements.txt
        
      - name: Lint Backend Code
        run: |
          black backend/
        
      - name: Run Backend Tests
        run: |
          cd backend/
          pytest

  # Second Job: Lint and Test on Frontend
  frontend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
    
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install Dependencies
        run: |
          cd frontend/
          npm install
      
      - name: Run Frontend Tests
        run: |
          cd frontend/
          npm test